#logo {
    background: #fff url(../images/Logo_FabLab_horizontal.png) 0px 0px no-repeat;
    background-size: contain;
    margin: 5px;
    height: 50px;
    width: 140px;
    display: block;
}
.back-ribbon {
    width: 100%;
    height: 40vh;
    background-color: #006EB8;
}
#main {
    margin-top: -35vh;
}

.container .blue-text {
    color: #006EB8 !important;
}