django==1.9.1
psycopg2==2.6.1
djangorestframework==3.3.2
django-cors-headers==1.1.0
django-environ==0.4.0
django-admin-tools==0.7.2
django-guardian==1.4.1
django-import-export==0.4.2
django-autocomplete-light==2.3.1
django-wysiwyg-redactor==0.4.9
reportlab==3.2.0
html5lib==1.0b8
xhtml2pdf==0.0.6
mailchimp3==2.0.7
django-tabbed-admin==0.0.5
django-mptt==0.8.0
django_polymorphic==1.0.2
easy-thumbnails==2.3
django-filer==1.1.0
django-mail-templated==2.4.7
raven==5.10.2
django-object-actions==0.7.0
django-material==0.5.1
django-recaptcha2==0.1.7
django-autoslug==1.9.3
django-admin-sortable==2.0.18
django-logentry-admin==1.0.2

# parsing xml files
untangle==1.1.0
# api requests
requests==2.10.0

#dev
django-debug-toolbar==1.4
Werkzeug==0.11.3