{% extends "base/layout.html" %}
{% load i18n %}
{% block content %}

{% regroup resources by type as resources_list %}
    <div class="col s12">
      <ul class="tabs z-depth-1">
    {% for type in resources_list %}
          <li class="tab col s3"><a href="#rt_{{ type.grouper.id }}">{{ type.grouper }}</a></li>
    {%  endfor %}
      </ul>
    </div>
    <br/>
    {% for type in resources_list %}
        <div class="row" id="rt_{{ type.grouper.id }}">
         {% for r in type.list  %}
        <div class="col s12 m4 resources">
            <div class="card">
                                <div class="card-content">
                    <span class="card-title">{{ r.name }}</span>
                </div>
                <div class="card-image">
                    <a href="{% url 'fablabadmin.base.views.resource' slug=r.slug %}"><img src="{{ r.image.url }}"></a>
                </div>
                <div class="card-action">
                   <a class="blue-text btn-flat waves-effect waves-blue" href="{% url 'fablabadmin.base.views.resource' slug=r.slug %}">
                  {% trans "use" %}
                </a>
                </div>
            </div>
        </div>
         {%  endfor %}
        </div>
    {%  endfor %}
      </div>
{% endblock %}

<div id="test1" class="col s12">Test 1</div>