{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="NONE,NOARCHIVE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-red.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static "css/theming.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">
   <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll  mdl-color--white">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-title"><a class="logo" href="/"></a></div>
          <div class="mdl-layout-spacer"></div>
          <a href="/admin/" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
              <i class="material-icons">settings</i>
          </a>
        </div>
      </header>
      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            {% block content %}{% endblock %}
        </div>
        <footer class="demo-footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
                <li><a href="http://www.fablab-lacote.ch/">FabLab la Côte</a></li>
                <li><a href="http://www.fablab-lacote.ch/wiki">Wiki</a></li>
                <li><a href="https://www.facebook.com/FabLabLaCote">Facebook</a></li>
                <li><a href="https://trello.com/fablablacote">Trello</a></li>
                <li><a href="https://github.com/FabLab-LaCote">Github</a></li>
                <li><a href="https://github.com/bfritscher/fablab-admin/issues">Report bug / new feature</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
</body>
</html>