{% extends "base/layout.html" %}
{% load material_form %}
{% load i18n %}
{% load l10n %}

{% block content %}
    <div class="row">
        <div class="col s12 m8">
             <div class="card">
                <form method="post">
                    <div class="card-content">
                         <span class="card-title">{{ resource }}</span>
                          <img class="resource-thumb" src="{{ resource.image.url }}">
                         {% csrf_token %}
                         {% form form=form %}
                             {% part form.user control %}{{ form.user }}{% endpart %}
                             {% part form.user add_label_class %}{{ "block"}}{% endpart %}
                             {% part form.user prefix %}<i class="material-icons prefix mdi-action-account-box"></i>{% endpart %}
                             {% part form.description prefix %}<i class="material-icons prefix">mode_edit</i>{% endpart %}
                             {% part form.quantity prefix %}<i class="material-icons prefix mdi-editor-format-list-numbered"></i>{% endpart %}
                             {% part form.quantity help_text %}<div style="margin-left:45px"><p class="light">{% trans "Rate" %}: {{ resource.price|unlocalize }} CHF {% trans "by" %} {{ resource.price_unit }}</p><p>{% trans "Amount billed" %}: <strong><span id="total"></span></strong> CHF</p></div>{% endpart %}
                             {% part form.event control %}{{ form.event }}{% endpart %}
                             {% part form.event add_label_class %}{{ "block"}}{% endpart %}
                             {% part form.event prefix %}<i class="material-icons prefix mdi-av-movie"></i>{% endpart %}
                             {% part form.event help_text %}<div><small>{% trans "Optional (if used for an event)" %}</small></div>{% endpart %}
                         {% endform %}
                    </div>
                    <div class="card-action right-align">
                        <button type="submit" name="_submit" class="btn red btn-primary btn-lg waves-effect waves-light">{% trans "Submit" %}</button>
                    </div>
                </form>
             </div>
        </div>
        {% if resource.description %}
        <div class="col s12 m4">
            <div class="card-panel ">
            {{ resource.description|safe }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col s12">
        <h5>{%  trans "History" %}</h5>
        <table class="responsive-table striped highlight">
            <thead>
            <tr>
                <th class="">{% trans "Date" %}</th>
                <th class="">{% trans "User" %}</th>
                <th class="">{% trans "Material" %}</th>
                <th class="right-align">{% trans "Quantity" %}</th>
                <th class="right-align">{% trans "Unit price"%}</th>
                <th class="right-align">{% trans "Total" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for u in last_usages %}
                <tr>
                    <td class="">
                        {{ u.date|date:"SHORT_DATE_FORMAT" }}
                    </td>
                    <td class="">
                        {{ u.user }}
                    </td>
                    <td class="">
                        {{ u.description }}
                    </td>
                    <td class="right-align">{{ u.quantity }} {{ resource.price_unit }}</td>
                    <td class="right-align">{{ u.unit_price }} CHF / {{ resource.price_unit }} </td>
                    <td class="right-align">{{ u.total }} CHF</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>
    </div>
{% endblock %}
{% block readyscript %}
    jQuery('#id_quantity').on('change', function(){
       jQuery('#total').text($(this).val() * {{ resource.price|unlocalize }});
    });
    jQuery('#total').text($('#id_quantity').val() * {{ resource.price|unlocalize }});
    jQuery('#id_date').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        format: 'dd/mm/yyyy',
        selectYears: 2 // Creates a dropdown of 15 years to control year
    });
{% endblock %}