{% extends "base/layout.html" %}
{% load my_tags %}

{% block content %}
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <h3>{{ resource }}</h3>

        <h4>Usage</h4>
        <form action="" method="post" class="mdl-shadow--2dp">
            {% csrf_token %}
            <div class="mdl-textfield mdl-js-textfield {% if form.user.errors %}is-invalid{% endif %}">
                {{ form.user.label_tag}}
                {{ form.user }}
                {% if form.user.errors %}
                    <span class="mdl-textfield__error" style="visibility: visible;position:relative">{{ form.user.errors.0 }}</span>
                {% endif %}
            </div>
            <div>
                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
                {{ form.quantity|add_css:"mdl-textfield__input" }}
                {{ form.quantity|label_with_classes:"mdl-textfield__label" }}
                {% if form.quantity.errors %}
                    <span class="mdl-textfield__error">{{ form.quantity.errors.0 }}</span>
                {% endif %}
                </div>
                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
                {{ form.unit_price|add_css:"mdl-textfield__input" }}
                {{ form.unit_price|label_with_classes:"mdl-textfield__label" }}
                {% if form.unit_price.errors %}
                    <span class="mdl-textfield__error">{{ form.unit_price.errors.0 }}</span>
                {% endif %}
                </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label {% if form.description.errors %}is-invalid{% endif %}" style="width:100%;">
            {{ form.description|add_css:"mdl-textfield__input textarea" }}
            {{ form.description|label_with_classes:"mdl-textfield__label" }}
            {% if form.description.errors %}
                <span class="mdl-textfield__error">{{ form.description.errors.0 }}</span>
            {% endif %}
            </div>
            <div>
                Optional (if used for an event)
                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
                {{ form.event.errors }}
                {{ form.event.label_tag }}
                {{ form.event }}
                </div>
            </div>
        <hr/>
                <input type="submit"
                   class="mdl-button mdl-js-button mdl-button--raised  mdl-js-ripple-effect mdl-button--accent"
                   value="Submit" />
        </form>

        <h4>History</h4>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%;">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Date</th>
                <th class="mdl-data-table__cell--non-numeric">User</th>
                <th class="mdl-data-table__cell--non-numeric">Material</th>
                <th>Quantity</th>
                <th>Unit price</th>
            </tr>
            </thead>
            <tbody>
            {% for u in last_usages %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ u.date|date:"SHORT_DATE_FORMAT" }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ u.user }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ u.description }}
                    </td>
                    <td>{{ u.quantity }}</td>
                    <td>{{ u.unit_price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}