{% extends "base/layout.html" %}
{% load material_form %}
{% load i18n %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col s12 offset-m2 m8">
            <div class="card-panel">
                <h4>{{ user.contact.full_name }} <small>({{ user.contact.status.name }})</small>
                        <div class="right">
                            {% for training in user.contact.trainings.all %}
                                <small class="chip">{{ training }}</small>
                            {% endfor %}
                        </div>
                    </h4>
                    <p>
                        {% for function in user.contact.current_functions.all %}
                            <small>{{ function.name }}</small>
                        {% endfor %}
                    </p>

                    <a class="waves-effect waves-light  btn-flat orange-text" href="{% url 'profile_edit' %}">{% trans 'Change profile details' %}</a>
                    <a class="waves-effect waves-light  btn-flat orange-text" href="{% url "password_change" %}">{% trans "Change my password" %}</a>
                <div class="section">
                    <h4>{% trans "Invoices" %}</h4>
                    <ul class="collapsible" data-collapsible="accordion">
                        {% regroup user.contact.invoices.all by date|date:'Y' as invoice_list %}
                        {% for invoice_group in invoice_list %}
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <li>
                                <div class="collapsible-header {% if forloop.counter == 1 %}active{% endif %}"><i
                                        class="material-icons">insert_drive_file</i>{{ invoice_group.grouper }}</div>
                                <div class="collapsible-body">
                                    <table class="bordered highlight">
                                        <thead>
                                        <tr>
                                            <th style="width:140px">{% trans "Date" %}</th>
                                            <th >{% trans "Invoice" %}</th>
                                            <th style="width:200px" class="right-align">{% trans "Total" %}</th>
                                            <th style="width:100px" class="center-align">{% trans "Paid" %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for invoice in invoice_group.list %}
                                            {% if invoice.draft == False %}
                                                <tr>
                                                    <td class="">{{ invoice.date }}</td>
                                                    <td class=""><a href="{{ invoice.document.url }}">{{ invoice }}</a></td>
                                                    <td class="right-align">{{ invoice.total }}</td>
                                                    <td class="center-align"><input type="checkbox"
                                                                                    {% if invoice.paid %}checked="checked"{% endif %}
                                                                                    disabled="disabled"/><label></label>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="section">
                    <h4>{% trans "Resource Usage" %}</h4>

                <div class="card-panel">
                        <table class="responsive-table striped highlight">
                            <thead>
                            <tr>
                                <th class="">{% trans "Date" %}</th>
                                <th class="">{% trans "Material" %}</th>
                                <th class="right-align">{% trans "Quantity" %}</th>
                                <th class="right-align">{% trans "Unit price"%}</th>
                                <th class="right-align">{% trans "Total" %}</th>
                                <th class="">{% trans "Paid" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u in last_usages %}
                                <tr>
                                    <td class="">
                                        {{ u.date|date:"SHORT_DATE_FORMAT" }}
                                    </td>
                                    <td class="">
                                        {{ u.description }}
                                    </td>
                                    <td class="right-align">{{ u.quantity }}</td>
                                    <td class="right-align">{{ u.unit_price }} {{ resource.price_unit }}</td>
                                    <td class="right-align">{{ u.total }}</td>
                                    <td class="">
                                        <input type="checkbox"
                                            {% if u.invoice and u.invoice.paid %}checked="checked"{% endif %}
                                            disabled="disabled"/><label></label>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="section">
                    <h4>{% trans "Logs" %} NFC</h4>

                <div class="card-panel">
                    {% for token in user.contact.tokens.all %}
                        <div class="chip">{{ token.description }} ({{ token.id }})</div>
                    {% endfor %}

                    <table class="bordered highlight">
                        <thead>
                        <tr>
                            <th>{% trans "Token" %}</th>
                            <th>{% trans "Time" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in user.contact.logentries.all|slice:":10" %}
                            <tr>
                                <td>{{ log.token.description }} ({{ log.token.id }})</td>
                                <td>{{ log.timestamp|naturaltime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block readyscript %}
    $('ul.tabs').tabs();
    $('.collapsible').collapsible();
{% endblock %}